@font-face{
    font-family: montserrat;
    src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

html, body{
    padding: 0;
    margin: 0;
    font-family: montserrat;
}

/* BODY */

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:  
    "sidebar main-content";
}

/* SIDEBAR */
.add-button{
    width: 15vw;
    height: 7vh;
}

.book-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.book-input{
    width: 20vw;
    height: 3vh;
}

.sidebar{
    grid-area: sidebar;
    padding: 2vh 2vw;
    background-color: antiquewhite;
    position: fixed;
    height: 100vh;
}

/* MAIN-CONTENT */
.main-content{
    grid-area: main-content;
    padding: 2vh 2vw;

    display: flex;
    flex-direction: column;
}

.books-menu{
    grid-area: books-menu;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.report{
    grid-area: report;
}

#remove-book{

}

#your-books{
    grid-area: your-books;
    display: flex;
    justify-content: center;
}

.book-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    background-color: lightblue;
    padding: 1rem;

    height: fit-content;
    width: 30vw;
}
